<div class="three_box">
    <div class="container">
       <div class="row">
          <div class="col-md-4">
             <div class="gift_box">
                <i><img src="images/icon_mony.png"></i>
                <span>Money Back</span>
             </div>
          </div>
          <div class="col-md-4">
             <div class="gift_box">
                <i><img src="images/icon_gift.png"></i>
                <span>Special Gift</span>
             </div>
          </div>
          <div class="col-md-4">
             <div class="gift_box">
                <i><img src="images/icon_car.png"></i>
                <span>Free Shipping</span>
             </div>
          </div>
       </div>
    </div>
 </div>
<footer>
    <div class="footer">
       <div class="container">
          <div class="row">
             <div class="col-md-3">
                <div class="inror_box">
                   <h3>INFORMATION </h3>
                   <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable</p>
                </div>
             </div>
             <div class="col-md-3">
                <div class="inror_box">
                   <h3>MY ACCOUNT </h3>
                   <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable</p>
                </div>
             </div>
             <div class="col-md-3">
                <div class="inror_box">
                   <h3>ABOUT  </h3>
                   <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable</p>
                </div>
             </div>
             <div class="col-md-3">
                <div class="inror_box">
                   <h3>CONTACTS  </h3>
                   <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable</p>
                </div>
             </div>
          </div>
       </div>
       <div class="copyright">
          <div class="container">
             <div class="row">
                <div class="col-md-12">
                   <p>© 2019 All Rights Reserved. Design by<a href="https://html.design/"> Free Html Templates</a></p>
                </div>
             </div>
          </div>
       </div>
    </div>
 </footer>