<!DOCTYPE html>
<html lang="en">
   <head>
      <%- include('__externallink.ejs')%>
   </head>
   <!-- body -->
   <body class="main-layout">
      <%-include('__header.ejs')%>
    
          
      <div id="project" class="project">
         <div class="container">
                      
         </div>
      </div>
      <%-include('__footer.ejs')%>
      
      <%-include('__externalscriptlink.ejs')%>
   </body>
</html>

